<tr class="table-inheritanceinfo">
    <th colspan="5" class="treeinfo"><span class="label label-default">From class <a title="owl:Thing"
                                                                                     href="class-owlthing.html"
                                                                                     class="fromclass_link">owl:Thing</a></span>
    </th>
</tr>

<tr>
    <td class="firsttd">
        <a class="propcolor" title="pot.jsonld:Attribute" href="{{ url_for('rdftools.get_class', class_name='Attribute') }}">pot.jsonld:Attribute</a>
    </td>
    <td class="secondtd">
        <i>rdf:Property<i>
        </i></i></td>
    <td class="thirdtd">
        <span>The class of PoT attributes. PoT attributes are properties a class can have.</span>
    </td>
    <td class="fourthtd">
        <i>owl:Thing</i>
    </td>
    <td></td>
</tr>
<tr>
    <td class="firsttd">
        <a class="propcolor" title="pot.jsonld:supportedAttribute" href="{{ url_for('rdftools.get_class', class_name='supportedAttribute') }}">pot.jsonld:supportedAttribute</a>
    </td>
    <td class="secondtd">
        <i>rdf:Property<i>
        </i></i></td>
    <td class="thirdtd">
        <span>--</span>
    </td>
    <td class="fourthtd">
        <a title="pot.jsonld:SupportedAttribute" href="{{ url_for('rdftools.get_class', class_name='supportedAttribute') }}" class="rdfclass">pot.jsonld:SupportedAttribute</a>
    </td>
    <td></td>
</tr>
<tr>
    <td class="firsttd">
        <a class="propcolor" title="pot.jsonld:supportedClass" href="{{ url_for('rdftools.get_class', class_name='supportedClass') }}">pot.jsonld:supportedClass</a>
    </td>
    <td class="secondtd">
        <i>rdf:Property<i>
        </i></i></td>
    <td class="thirdtd">
        <span>--</span>
    </td>
    <td class="fourthtd">
        <i>owl:Thing</i>
    </td>
    <td></td>
</tr>
<tr>
    <td class="firsttd">
        <a class="propcolor" title="pot.jsonld:supportedType" href="{{ url_for('rdftools.get_class', class_name='supportedType') }}">pot.jsonld:supportedType</a>
    </td>
    <td class="secondtd">
        <i>rdf:Property<i>
        </i></i></td>
    <td class="thirdtd">
        <span>--</span>
    </td>
    <td class="fourthtd">

        <i>owl:Thing</i>
    </td>
    <td></td>
</tr>
