
  .lead-plus {font-size: 26.5px;}
  .label-xs {font-size: 10px;}
  .label-dark {background: #2c3e50; color: white; padding: 1px;}
  .margin50 {margin-top: 50px; margin-bottom: 50px;}

  .namespaces {background: #ced2d6; width: 100%;}


  /*so that the d3plus tooltip panel doesnt cover the top banner*/

  .panel-body dt {margin-top: 5px;}
  .page-header  {margin-top: 30px;}
  #wrapper {margin-top: 50px;}

  .implementation-panel {
    overflow: auto;
    /*max-height: 500px;*/
  }

  tr.table-classproperties {
      /*background: #f5f5f5;*/
  }
  tr.table-classproperties th {
      font-size: 80%;
      font-weight: normal;
  }


  tr.table-inheritanceinfo {
      /*background: #f5f5f5;*/
      text-align: left;
  }

  tr.table-inheritanceinfo th {
      font-size: 90%;
      font-weight: normal;
  }


  .breadcrumb {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .breadcrumb a {
      text-transform: capitalize;
  }
  .breadcrumb li {
      text-transform: none;
      /*so to catch the uri @todo improve*/
  }


  .fromclass_link {
    /*color: white;
    text-decoration: underline;*/
    /*background: #1c1e52;*/
    color: inherit;
    /*padding: 1px;*/
  }

		.mythumbnail {
			display: block;
			padding: 13px;
			margin-bottom: 30px;
			line-height: 13.428571;
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 30px;
		}

		.mythumbnail:hover {
			background: lightyellow;
			text-decoration: none;
		}


		.img-container{
		    height:100%;
			overflow: hidden;
		    max-height:200px;
			padding: 10px;
/*			margin: 20px 0px 20px 0px;*/
			border: 1em #EAE5E5 solid;
		}

		.img-container:hover {
			border: 1px grey solid;
		}

		img{
/*		    height:100% !important;*/
		}


		.icon-xxs {
			font-size: 15px;
		}


    /* dropdown open on hover */

    @media (min-width: 979px) {
      ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
      }
    }



/*pygments css*/


/*overloading this class from pygments*/
.highlight {
  overflow: auto;
}






